beautifulsoup4==4.12.2
colorama==0.4.6
cookies==2.2.1
fake_useragent==1.2.1
langchain==0.0.291
nltk==3.8.1
playwright==1.37.0
pyperclip==1.8.2
python-dotenv==1.0.0
pyunsplash==1.0.0rc2
Requests==2.31.0
selenium==4.12.0
tempmail_python==2.3.0
undetected_chromedriver==3.5.3
